body {
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f0;
}
.barra-superior {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  font-size: 13px;
  border-bottom: 2px solid #f0c030;
}
header {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-bottom: 4px solid #f0c030;
}

header h1 {
  font-size: 60px;
  margin: 0;
}

header p {
  font-size: 18px;
  color: #555;
  margin: 0;
}
.cuerpo {
  display: flex;
  min-height: 500px;
}
aside {
  width: 220px;
  background-color: #1a9e8f;
  padding: 16px;
  color: white;
}

aside > em {
  font-size: 18px;
  color: white;
}

aside p em {
  font-size: 13px;
  color: white;
}

aside h3 {
  color: white;
  font-size: 16px;
  margin-bottom: 4px;
}

aside p {
  font-size: 13px;
}

aside h4 {
  color: white;
  font-size: 15px;
}

aside ul {
  list-style: none;
  padding: 0;
  font-size: 13px;
}

aside ul li {
  margin-bottom: 6px;
}
main {
  flex: 1;
  padding: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;

}

main figure img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

main h2 {
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 12px;
}

main p {
  font-size: 15px;
  line-height: 1.7;
  color: #333;
}

.boton {
  display: inline-block;
  background-color: #f0c030;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 13px;
  margin-top: 16px;
   width: fit-content;
  margin-left: auto;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  font-size: 13px;
  border-top: 2px solid #f0c030;
  background-color: white;
}

@media (max-width: 768px) {

  .cuerpo {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  header h1 {
    font-size: 36px;
  }

  main figure img {
    max-height: 200px;
  }

}